    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>VİZYON</h2>
                    <p>Proje ve taahhüt sonrası servisleriyle müşterilerin ihtiyaç ve beklentilerini karşılayan, topluma, çalışanlarına ve çevreye değer katan ulusal ve uluslararası pazarlarda tanınan ve aranan lider firmalardan biri olmaktır.</p>
                    <h2>MİSYON</h2>
                    <p>Yaşam koşullarına uygun, doğaya ve insana saygılı koşullarda müşteri isteklerini ön planda tutarak hizmet yapmak, yatırım ve istihdamla ülke ekonomisine katkı sağlamak, sürekli gelişim anlayışını ön planda tutarak, yeniliğe ve değişime önem vermek ve uyguladığı yönetim modelleri ile diğer firmalara örnek olmak.</p>

                </div>
            </div>
        </div>
    </section>