    <!-- Download Section -->
    <section id="references" class="content-section text-center">
        <div class="references-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>REFERANSLAR</h2>
                    <ul>
                        <li>
                            <img width="150" src="img/referanslar/maki_referans_hatko.png">
                            <div>Osmaniye Fabrika Yangın Sistemi Kurulumu</div>
                        </li>
                        <li>
                            <img width="150" src="img/referanslar/maki_referans_borusan_holding.jpg">
                            <div>Enerwo Intercontinental Hotel Hvac Kurulumu</div>
                        </li>
                        <li>
                            <img width="150" src="img/referanslar/maki_referans_yilport_holding.png">
                            <div>Gemport Yangın Sistemleri Kurulumu</div>
                        </li>
                        <li>
                            <img width="150" src="img/referanslar/maki_referans_hotel_golden_way.jpg">
                            <div>Goldenway Otel 184 Yataklı Otel Tüm Mekanik İşleri</div>
                        </li>
                        <li>
                            <img width="150" src="img/referanslar/maki_referans_sia.png">
                            <div>SİA İnşaat Mehmet Durmaz Fabrikaları Komple Mekanik İşleri</div>
                        </li>
                        <li>
                            <img width="150" src="img/referanslar/maki_referans_kidzmondo_trump.jpg">
                            <div>Tüm Mekanik Tesisatın Kurulumu</div>
                        </li>
                        <li>
                            <img width="150" src="img/referanslar/maki_referans_do_and_co.png">
                            <div>CIP Lounge Tüm Mekanik Tesisatın Kurulumu</div>
                        </li>
                        <li>
                            <img width="150" src="img/referanslar/maki_referans_nef.jpg">
                            <div> Nef Kağıthane 95 Daire Foldhome Sistemi Mekanik İşleri Yapımı</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>