    <!-- Download Section -->
    <section id="specilities" class="content-section text-center">
        <div class="specilities-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>FAALİYET ALANLARI</h2>
                    <ul>
                        <li>Proje ve Danışmanlık Hizmetleri</li>
                        <li>Isıtma ve Soğutma Sistemleri</li>
                        <li>HVAC Sistemi</li>
                        <li>Yangından Korunma Sistemleri</li>
                        <li>Sıhhi Tesisat</li>
                        <li>Doğalgaz Tesisatı</li>
                        <li>Bina Otomasyon Sistemi</li>
                        <li>Duman Tahliye Sistemi</li>
                        <li>Merdiven ve Asansör Kovanı Basınçlandırma Sistemi</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>